<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login - HACSP</title>
</head>

<body>
    <div class="login-container">
        <h2>Login HACSP</h2>
        <form>
            <input id="user" type="text" placeholder="RA + Dígito + UF" required />
            <input id="pass" type="password" placeholder="Senha" required />
            <button type="submit" onclick="login(event);">Entrar</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>

</html>